body{
    background-image:url('images/background.jpg');
    background-size: cover;
}
button{
    display:inline-table;
    border-color:gold;
    color:red;
    background-color:turquoise;
    border-radius: 20px;
    text-align: center;
    text-decoration: None;
    padding: 10px;
}